<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body style="background-color: #FF6969; height: 100vh; margin: 0px; padding: 0px; box-sizing: border-box;" >
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; height: 100%;">

        <h1 style="text-align: center; color: #EEEEEE; ">Welcome to Home Page!</h1>
    </div>
   
       
   
 
</body>
</html>